
  
  body{
    background-image: url("https://cdn.pixabay.com/photo/2017/03/03/16/14/key-2114334_1280.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
form{
 
    box-shadow: -1px 1px 60px 10px rgb(89, 87, 87) inset;
    text-align: left;
}


.container {
 
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    text-align: center;
    margin-top: 50px; 
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

/* 
  .container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 50px;
  } */
  
  h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333; /* Change the heading color */
  }
  
  /* Add CSS rules for form elements */
  /* form {
    text-align: left;
  } */
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555; /* Change the label color */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Add fade-in animation */
  .container {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  